html, body {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: InterMedium;
}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
}

@font-face {
  font-family: 'Avenir';
  src: url('/Sen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  src: url('/Syne-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Questrial';
  src: url('/Questrial-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Caslon';
  src: url('/LibreCaslonText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat-Medium.ttf') format('truetype');
}